<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="head"></head>

<body>
<nav th:replace="navbar"></nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="page-header">
                <h1 th:text="#{label.preferences}"></h1>
            </div>
            <form action="#" class="form-horizontal" th:action="@{/result}" th:object="${survey}" method="post">
                <span th:text="#{question.one}"></span><span class="label label-info margin-left-5" data-toggle="tooltip"
                                                                       th:title="#{tooltip.screen}" data-placement="right">Info</span>
                <p class="margin-top-5">
                    <input type="radio" th:field="*{screenSize}" th:value="small" th:required="required"/>
                    <label th:for="${#ids.next('screenSize')}" th:text="#{label.small}"></label><br/>
                    <input type="radio" th:field="*{screenSize}" th:value="medium"/>
                    <label th:for="${#ids.next('screenSize')}" th:text="#{label.medium}"></label><br/>
                    <input type="radio" th:field="*{screenSize}" th:value="big"/>
                    <label th:for="${#ids.next('screenSize')}" th:text="#{label.big}"></label><br/>
                </p>
                <span th:text="#{question.two}"></span><span class="label label-info margin-left-5" data-toggle="tooltip"
                                                                                    th:title="#{tooltip.memory}" data-placement="right">Info</span>
                <p class="margin-top-5">
                    <input type="radio" th:field="*{internalMemorySize}" th:value="small" th:required="required"/>
                    <label th:for="${#ids.next('internalMemorySize')}" th:text="#{label.small.a}"></label><br/>
                    <input type="radio" th:field="*{internalMemorySize}" th:value="medium"/>
                    <label th:for="${#ids.next('internalMemorySize')}" th:text="#{label.medium.a}"></label><br/>
                    <input type="radio" th:field="*{internalMemorySize}" th:value="big"/>
                    <label th:for="${#ids.next('internalMemorySize')}" th:text="#{label.big.a}"></label><br/>
                </p>

                <p th:text="#{question.three}"></p>
                <p class="margin-top-5">
                    <input type="radio" th:field="*{musicJack}" th:value="yes" th:required="required"/>
                    <label th:for="${#ids.next('musicJack')}" th:text="#{label.yes}"></label><br/>
                    <input type="radio" th:field="*{musicJack}" th:value="no"/>
                    <label th:for="${#ids.next('musicJack')}" th:text="#{label.no}"></label><br/>
                </p>

                <p th:text="#{question.four}"></p>
                <p class="margin-top-5">
                    <input type="radio" th:field="*{dualCamera}" th:value="yes" th:required="required"/>
                    <label th:for="${#ids.next('dualCamera')}" th:text="#{label.yes}"></label><br/>
                    <input type="radio" th:field="*{dualCamera}" th:value="no"/>
                    <label th:for="${#ids.next('dualCamera')}" th:text="#{label.no}"></label><br/>
                </p>

                <p th:text="#{question.five}"></p>
                <p class="margin-top-5">
                    <input type="radio" th:field="*{primaryCameraQuality}" th:value="average" th:required="required"/>
                    <label th:for="${#ids.next('primaryCameraQuality')}" th:text="#{label.average}"></label><br/>
                    <input type="radio" th:field="*{primaryCameraQuality}" th:value="good"/>
                    <label th:for="${#ids.next('primaryCameraQuality')}" th:text="#{label.good}"></label><br/>
                    <input type="radio" th:field="*{primaryCameraQuality}" th:value="very_good"/>
                    <label th:for="${#ids.next('primaryCameraQuality')}" th:text="#{label.very_good}"></label><br/>
                </p>
                <span th:text="#{question.six}"></span><span class="label label-info margin-left-5" data-toggle="tooltip"
                                                             th:title="#{tooltip.dual_sim}" data-placement="right">Info</span>
                <p class="margin-top-5">
                    <input type="radio" th:field="*{hasDualSim}" th:value="yes" th:required="required"/>
                    <label th:for="${#ids.next('hasDualSim')}" th:text="#{label.yes}"></label><br/>
                    <input type="radio" th:field="*{hasDualSim}" th:value="no"/>
                    <label th:for="${#ids.next('hasDualSim')}" th:text="#{label.no}"></label><br/>
                </p>
                <p>
                <hr/>
                <button class="btn btn-lg btn-success pull-right margin-left-5" type="submit">
                    Wyślij&nbsp;<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                </button>
                <button class="btn btn-primary btn-lg pull-right" type="reset">
                    Wyczyść&nbsp;<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
                </p>
            </form>
        </div>
    </div>
</div>
<footer th:replace="footer"></footer>
</body>
</html>