<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:text="#{project.title}" th:href="@{/}"></a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a th:href="@{/}"><span class="glyphicon glyphicon-home"></span>&nbsp;Home</a></li>
            <li class="active"><a th:href="@{/parser}"><span class="glyphicon glyphicon-download"></span>&nbsp;Parser</a></li>
        </ul>
    </div>
</nav>