<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="head"></head>

<body>
<nav th:replace="navbar"></nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="page-header">
                <h1 th:text="#{import.stats}"></h1>
            </div>
            <div class="form-group">
                <label for="importSuccess" th:text="#{label.import.state}"></label>
                <span id="importSuccess" class="label label-success" th:text="#{label.success}"></span>
            </div>
            <div class="form-group">
                <label for="executionTime" th:text="#{label.execution.time}"></label>
                <span id="executionTime" th:text="#{label.execution.time.details(${stats.importTime})}"></span>
            </div>
            <div class="form-group">
                <label for="count" th:text="#{label.import.count}"></label>
                <span id="count" th:text="#{label.import.count.details(${stats.count}, ${stats.countPhone}, ${stats.countTablet})}"></span>
            </div>
            <p>
            <hr/>
            <a th:href="@{/}" class="btn btn-primary btn-lg pull-right"><span class="glyphicon glyphicon-menu-left"></span>Wróć</a>
            </p>
        </div>
    </div>
</div>
<footer th:replace="footer"></footer>
</body>
</html>